:root {
	--primary-color: #29102a;
	--secondary-color: #fbecec;
	--color-gradA: #adedd5;
	--color-gradB: #fbee97;
	--bs-nav-link-hover-color: #fbecec;
	--heading-font: "Proza Libre";
	--content-font: "Open Sans";
}

nav {
	background-color: var(--primary-color);
	padding: 20px 0;
	position: fixed;
	width: 100%;
	z-index: 1;
}

a.nav-link {
	color: var(--secondary-color);
	font-size: 14px;
	font-weight: lighter;
	line-height: 24px;
	display: inline-block;
	position: relative;
	text-decoration: none;
	z-index: 1;
}

a.active {
	font-weight: 600;
}

a.nav-link:hover {
	text-decoration: none;
}

a.nav-link::after {
	text-decoration: none;
	color: var(--secondary-color);
	content: "";
	position: absolute;
	left: 0;
	bottom: -0.05em;
	height: 0em;
	width: 100%;
	background: linear-gradient(90deg, var(--color-gradA), var(--color-gradB));
	z-index: -1;
}

a.nav-link:hover::after {
	color: var(--secondary-color);
	height: 0.1em;
	transform-origin: 50% bottom;
	transform: scaleX(0);
	transition: transform 0.8s cubic-bezier(0.47, 0, 0.745, 0.715);
}

nav ul {
	margin: 0;
}
nav li {
	padding: 0;
}

h1,
h2,
h3,
h4 {
	font-family: var(--heading-font);
	font-weight: bold;
}

h1 {
	font-size: 56px;
}

h2,
h3 {
	color: var(--primary-color);
	font-weight: bold;
}

h2 {
	position: relative;
	font-weight: 600;
	font-size: 40px;
	display: inline;
}

h3 {
	font-size: 28px;
}

h2::before {
	content: "";
	position: absolute;
	top: 100%;
	width: 110%;
	left: 0;
	height: 10px;
	background: linear-gradient(90deg, var(--color-gradA), var(--color-gradB));
	clip-path: polygon(
		0 0,
		80% 0,
		100% calc(100% - 1em),
		calc(100% - 1em) 100%,
		0 100%
	);
}

p {
	font-family: var(--content-font);
	color: #202020;
}

li {
	font-size: 14px;
	list-style: none;
	display: inline-block;
	width: 120px;
}

ul {
	padding: 0;
}

.skills i {
	border: solid 1px var(--primary-color);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 7px;
	margin: 0 5px;
	color: var(--secondary-color);
	background-color: var(--primary-color);
}

.inner-title {
	font-size: 22px;
	font-weight: lighter;
	text-transform: uppercase;
}

.skills-box {
	border: solid 1px rgba(211, 211, 211, 0.5);
	border-radius: 4px;
	box-shadow: 2px 1px 6px 1px rgba(211, 211, 211, 0.4);
	padding: 10px 0px 0px 10px;
}
.hero {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	text-align: center;
	padding: 120px 20px;
}

.hero p {
	font-family: var(--content-font);
	font-size: 20px;
	line-height: 36px;
	color: var(--secondary-color);
}

a.main-button {
	margin: 0 10px;
	width: 175px;
	border-radius: 1px 15px 1px 15px;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: var(--secondary-color);
	text-transform: uppercase;
	box-shadow: 0 0 6px 0 black;
	border: solid 2px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(90deg, var(--color-gradA), var(--color-gradB));
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px var(--primary-color) inset;
	transition: all 0.25s ease-in-out;
}

a.main-button:hover {
	box-shadow: none;
	color: var(--primary-color);
	text-decoration: none;
}

a.secondary-button {
	margin: 0 10px;
	border-radius: 1px 15px 1px 15px;
	padding: 1rem;
	font-size: 1rem;
	font-weight: 600;
	letter-spacing: 0.02em;
	padding: 0.5rem 1.5rem;
	color: var(--primary-color);
	box-shadow: 0 0 6px 0 black;
	border: solid 2px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(90deg, var(--color-gradA), var(--color-gradB));
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px white inset;
	transition: all 0.25s ease-in-out;
}

a.secondary-button:hover {
	box-shadow: none;
	color: var(--primary-color);
	text-decoration: none;
}

a.inactive-button {
	margin: 0 10px;
	border-radius: 1px 15px 1px 15px;
	padding: 1rem;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.02em;
	padding: 0.5rem 1.5rem;
	color: grey;
	box-shadow: 0 0 6px 0 black;
	border: solid 2px transparent;
	background-image: linear-gradient(
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0)
		),
		linear-gradient(90deg, #cacaca, #f3f3f3);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px white inset;
}

a.inactive-button:hover {
	box-shadow: none;
	text-decoration: none;
}

.projects img {
	margin: 35px 0 25px 0;
	max-width: 280px;
	max-height: 280px;
	border: solid 1px rgba(211, 211, 211, 0.5);
	border-radius: 4px;
	box-shadow: 2px 1px 6px 1px rgba(211, 211, 211, 0.4);
}

.projects p {
	font-size: 14px;
	line-height: 2;
	margin: 15px 0 15px 0;
}

p.skills {
	line-height: 40px;
}

a {
	text-decoration: none;
	color: var(--primary-color);
}

a:hover {
	text-decoration: underline;
}

.breadcrumb {
	text-transform: uppercase;
	font-family: var(--content-font);
	font-size: 12px;
	color: var(--primary-color);
	font-weight: bold;
	padding-top: 20px;
}

.breadcrumb a {
	font-weight: normal;
}

.content h1 {
	color: var(--primary-color);
	font-size: 56px;
	padding: 50px 0 20px 0;
}

.content img {
	max-height: 300px;
	border-radius: 4px;
	margin-bottom: 15px;
	filter: contrast(130%) brightness(1.1);
}

.highlight {
	color: var(--primary-color);
	font-weight: 700;
}

.color-block {
	background: linear-gradient(90deg, var(--color-gradA), var(--color-gradB));
	border-radius: 4px;
	height: 150px;
	padding-top: 25px;
}

.color-block p {
	font-weight: 700;
	font-size: 20px;
	text-align: center;
}

.email-block {
	background-color: white;
	border-radius: 2px;
	padding: 0.5em;
	margin: 0 10%;
	text-align: center;
}

.follow i {
	border: solid 1px var(--primary-color);
	border-radius: 50%;
	font-size: 30px;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 10px;
	margin: 0 15px;
	color: var(--secondary-color);
	background-color: var(--primary-color);
}
.follow li {
	font-size: 20px;
	line-height: 45px;
	text-align: center;
}

.follow a:hover {
	font-weight: 600;
	text-decoration: none;
}

footer {
	background-color: var(--primary-color);
}

footer p {
	color: var(--secondary-color);
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	padding-top: 30px;
}

footer ul {
	margin: 0;
}

.footer-title {
	position: relative;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
}

.footer-title::before {
	content: "";
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0;
	height: 2px;
	background: linear-gradient(90deg, var(--color-gradA), var(--color-gradB));
}

.footer-follow i {
	border: solid 1px var(--primary-color);
	border-radius: 50%;
	font-size: 25px;
	width: 40px;
	height: 40px;
	text-align: center;
	padding-top: 8px;
	margin: 0 8px;
	color: var(--primary-color);
	background-color: var(--secondary-color);
}
.footer-follow li {
	font-size: 16px;
	line-height: 35px;
	max-width: 80px;
	text-align: center;
}

.footer-follow a {
	color: var(--secondary-color);
}

.footer-follow a:hover {
	color: var(--secondary-color);
	text-decoration: none;
	font-weight: 600;
}

.copyright {
	font-size: 10px;
	padding-bottom: 15px;
}

.copyright a {
	color: var(--secondary-color);
}
.copyright a:hover {
	text-decoration: none;
	font-weight: 600;
}

@media (max-width: 1200px) {
	li {
		text-align: center;
		padding: 0 12px;
		max-width: 100px;
	}
}

@media (max-width: 990px) {
	h1 {
		font-size: 48px;
	}

	h2 {
		font-size: 38px;
	}
	li {
		font-size: 12px;
		max-width: 70px;
	}
}

@media (max-width: 768px) {
	li {
		text-align: left;
		padding: 0;
		max-width: 100%;
		font-size: 14px;
	}

	.content p {
		text-align: center;
		font-size: 14px;
		padding: 0 10px;
	}

	.content h1 {
		font-size: 48px;
	}

	.projects p {
		text-align: center;
	}
}

@media (max-width: 415px) {
	li {
		text-align: center;
		padding: 0 12px;
		max-width: 100px;
		font-size: 12px;
	}

	.email-block a {
		font-size: 13px;
	}

	.follow li {
		font-size: 16px;
		line-height: 30px;
	}

	.nav-link {
		font-size: 12px;
	}
	nav li {
		max-width: 80px;
	}
}
